.gameboard-container {
  display: flex;
  flex-flow: row wrap;
  min-width: 500px;
  max-width: 45%;
  margin: 20px;
  height: 25rem;  
  outline: 2px solid;  
}

.gameboard-square {
  display: flex;
  flex: 1 0 9%; 
  border: 1px solid;
  background-color: lightGrey;
}
.board-square {
  width: 100%
}