.left-nav-item {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: stretch;
  margin-bottom: 15px;
}

.ship-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.ship-tiles {
  border: 1px solid;
  height: 20px;
  width: 20px;
  outline: 2px solid;
}

.green {
  background: green;
}
.blue {
  background: blue;
}
.purple {
  background: purple;
}
.yellow {
  background: yellow;
}
.beige {
  background: beige;
}
.hit {
  background: red;
}
